.taskContainer {
  display: flex;
  flex-direction: column;
  row-gap: 0.75rem;
  background-color: white;
  border-radius: 12px;
  width: 100%;
  padding: 1rem;
  margin-block: 2rem;
  box-shadow: 0 15px 35px 0 rgb(60 66 87/8%), 0 5px 15px 0 rgb(0 0 0/12%);
}

ul {
  padding-left: 0;
}
